@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: #0B0F14;
  --color-background-soft: #11161D;

  --color-surface: #161C24;
  --color-surface-elevated: #1C232D;

  --color-text-primary: #F3F4F6;
  --color-text-secondary: #A1A8B3;
  --color-text-muted: #6B7280;

  --color-border: #252C36;
  --color-border-soft: #1C232D;

  --color-primary: #3B82F6;
  --color-primary-hover: #2563EB;

  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
  --color-info: #3B82F6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
